@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var loggedIn = (bool)ViewData["loggedIn"];
    var isDropboxConnected = loggedIn && (bool)ViewData["isDropboxConnected"];
    var isGraphConnected = loggedIn && (bool)ViewData["isGraphConnected"];
}

<div class="text-center">
    <h1 class="display-4">Token Vault Multi Service Sample</h1>
    @if (!loggedIn)
    {
        <p>You need to <a asp-page="/Login">sign in with AAD</a> use this app.</p>
    }
    else
    {
        <p>Thanks for signing in, @ViewData["userName"]. You can connect to external services below.</p>
    }
</div>

<div class="text-left">
    @if (loggedIn)
    {
        @if (isDropboxConnected)
        {
            <p>Dropbox status: Connected</p>
            <ul>
                @foreach (string file in (@ViewData["dropboxFileList"] as IEnumerable<string>))
                {
                    <li>@file</li>
                }
            </ul>
        }
        else
        {
            <p>Dropbox status: Disconnected. <a href="@ViewData["dropboxLoginUrl"]">Sign in to Dropbox</a></p>
        }

        @if (isGraphConnected)
        {
            <p>Graph status: Connected</p>
            <ul>
                @foreach (string file in (@ViewData["graphFileList"] as IEnumerable<string>))
                {
                    <li>@file</li>
                }
            </ul>
        }
        else
        {
            <p>Graph status: Disconnected. <a href="@ViewData["graphLoginUrl"]">Sign in to Graph</a></p>
        }
    }
</div>
