@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Token Store Multi Service Sample</h1>
    @if (!Model.LoggedIn)
    {
        <p>You need to <a asp-page="Login">sign in with AAD</a> use this app.</p>
    }
    else
    {
        <p>Thanks for signing in, @Model.UserName. You can connect to external services below.</p>
    }
</div>

<div class="text-left">
    @if (Model.LoggedIn)
    {
        @if (Model.DropboxData.IsConnected)
        {
            <p>Dropbox status: Connected</p>
            <ul>
                @foreach (string file in Model.DropboxData.Files)
                {
                    <li>@file</li>
                }
            </ul>
        }
        else
        {
            <p>Dropbox status: Disconnected. <a href="@Model.DropboxData.LoginUrl">Sign in to Dropbox</a></p>
        }

        @if (Model.GraphData.IsConnected)
        {
            <p>Graph status: Connected</p>
            <ul>
                @foreach (string file in Model.GraphData.Files)
                {
                    <li>@file</li>
                }
            </ul>
        }
        else
        {
            <p>Graph status: Disconnected. <a href="@Model.GraphData.LoginUrl">Sign in to Graph</a></p>
        }
    }
</div>
